<h1 class='mt-5 ms-2'>Cписок сторінок</h1>

<p class='ms-2'>Текст про мой проект</p>

<div class='row'>

  <div class='col-4'>

    <div class='ms-2 mt-5'>
      <a
        href='/education'
        class='btn btn-primary'
      >Education</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/skills' class='btn btn-primary'>Skills</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/summary' class='btn btn-primary'>Summary</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/work' class='btn btn-primary'>Work</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/bio' class='btn btn-primary'>Bio</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/car' class='btn btn-primary'>Car</a>
    </div>

    <div class='ms-2 mt-3'>
      <a
        href='/facebook'
        class='btn btn-primary'
      >Facebook</a>
    </div>

  </div>

  <div class='col-4'>

    <div class='ms-2 mt-5'>
      <a href='/js' class='btn btn-success'>JavaScript</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/mac' class='btn btn-success'>Mac</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/person' class='btn btn-success'>Person</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/program' class='btn btn-success'>Program</a>
    </div>

    <div class='ms-2 mt-3'>
      <a
        href='/shopcart'
        class='btn btn-success'
      >Shopcart</a>
    </div>

    <div class='ms-2 mt-3'>
      <a
        href='/shophome'
        class='btn btn-success'
      >Shophome</a>
    </div>

    <div class='ms-2 mt-3'>
      <a
        href='/shopnews'
        class='btn btn-success'
      >Shopnews</a>
    </div>

  </div>

  <div class='col-4'>

    <div class='ms-2 mt-5'>
      <a
        href='/shoporder'
        class='btn btn-warning'
      >Shoporder</a>
    </div>

    <div class='ms-2 mt-3'>
      <a
        href='/shopproduct'
        class='btn btn-warning'
      >Shopproduct</a>
    </div>

    <div class='ms-2 mt-3'>
      <a
        href='/shopprofile'
        class='btn btn-warning'
      >Shopprofile</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/task21' class='btn btn-warning'>Task21</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/task22' class='btn btn-warning'>Task22</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/task31' class='btn btn-warning'>Task31</a>
    </div>

    <div class='ms-2 mt-3'>
      <a href='/web' class='btn btn-warning'>Web</a>
    </div>

    <div class='ms-2 mt-3'>
      <a
        href='/shopreview'
        class='btn btn-warning'
      >Shopreview</a>
    </div>

  </div>

</div>