<h1 class='mt-5 ms-2'>Cписок сторінок</h1>

<p class='ms-2'>Текст про мой проект</p>

<div class='ms-2 mt-5'>
  <a href='/education' class='btn btn-primary'>Education</a>
</div>

<div class='ms-2 mt-3'>
  <a href='/skills' class='btn btn-success'>Skills</a>
</div>

<div class='ms-2 mt-3'>
  <a href='/summary' class='btn btn-warning'>Summary</a>
</div>

<div class='ms-2 mt-3'>
  <a href='/work' class='btn btn-danger'>Work</a>
</div>