{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

  {{#with main}}
  <main>
      
      <div class="card">
        
        <section class="mb-3">
         
         <div class="card-header">
          {{> title data=summary.title big=true}}
         </div>
         <div class="card-body">
          <p>

          {{summary.text}}
          </p>
         </div>
      </div>

    
    </section>
    
    </div>
    
    <div class="card mt-2">



    <div class="card mt-2">
    {{#with experience}}
    <section>
      
      <div class="card-header">
      {{> title data=title big=false}}
      </div>

      <div class="card-body">
        <p>
          {{text}}
        </p>
      </div>

    </section>
    {{/with}}
    </div>

  </main>
  {{/with}}
  
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}