<section>
  <div class='row'>
    <div class='card m-3'>
      <div class='nav'>
        {{#with navigation}}
          <h1 class='col-6'>Shop</h1>
          {{#each links}}
            <div class='nav-item px-0 pe-0 my-2'>
              <a href='{{href}}' class='nav-link'>
                {{text}}</a>
            </div>
          {{/each}}
          <a
            class='nav-link disabled col-1 pe-0 my-2'
          >{{Logo}}</a>
        {{/with}}
      </div>
    </div>
  </div>
</section>