<section>
    <div class="row">
    {{#each footer}}
       <div class="col-2 flex-column pe-1">
        <ul class="nav">
        {{#each this}}
          <li>
            <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
          </li>
        {{/each}}
        </ul>
       </div>
      {{/each}}
      </div>
</section>